openapi: 3.1.0
x-stoplight:
  id: 5d5a9be69c20d
info:
  title: API Reference
  version: '1.0'
  contact:
    name: Jonathon Robins
    email: Jonathon.Robins@pamediagroup.com
  summary: An API to facilitate the uploading of media Content into StreamAMGs CloudMatrix & MediaPlatform Products
  description: |-
    The CloudMatrix Upload API provides clients with the functionality to upload Media Content via a HTTP API with no dependencies on a technology or framework.

    The upload functionality allows clients to upload Rich Metadata alongside their media so that it is automatically available within CloudMatrix once the media entry is processed via MediaPlatform. 
tags:
  - name: Entry
  - name: Multipart
  - name: Search
  - name: Entitlement
  - name: Feed
  - name: Event
servers:
  - url: 'https://cloudmatrix.api.streamamg.com'
paths:
  '/api/v1/{apiUserId}/{apiKey}/{targetId}/{languageCode}/search':
    parameters:
      - schema:
          type: string
        name: apiUserId
        in: path
        required: true
        description: Guid identifying the requesting client
      - schema:
          type: string
        name: apiKey
        in: path
        required: true
        description: Second layer encrypted identifier for the requesting client
      - schema:
          type: string
        name: targetId
        in: path
        description: Guid identifying the target where articles are allowed to be published
        required: true
      - schema:
          type: string
        name: languageCode
        in: path
        required: true
        description: Two characters ISO language code
    get:
      summary: Article search
      tags:
        - Search
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  metaData:
                    type: object
                    additionalProperties: true
                  itemData:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        mediaData:
                          type: object
                          properties:
                            mediaType:
                              type: string
                            entryId:
                              type: string
                            entryStatus:
                              type: string
                            thumbnailUrl:
                              type: string
                        sortData:
                          type: array
                          items:
                            type: object
                            properties: {}
                        metaData:
                          type: object
                          additionalProperties: true
                        publicationData:
                          type: object
                          properties:
                            createdAt:
                              type: string
                            updatedAt:
                              type: string
                            released:
                              type: boolean
                            releaseFrom:
                              type: string
                            releaseTo:
                              type: string
                  pagingData:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                      itemCount:
                        type: integer
                      pageCount:
                        type: integer
                      pageSize:
                        type: integer
                      pageIndex:
                        type: integer
                x-examples:
                  example-1:
                    metaData: {}
                    itemData:
                      - id: ae412bb2-bf6a-4568-9af0-3e959db35b0c
                        mediaData:
                          mediaType: OnDemand
                          entryId: 0_aj8swfbd
                          entryStatus: Ready
                          thumbnailUrl: 'https://open.http.mp.streamamg.com/p/3000759/sp/300075900/thumbnail/entry_id/0_aj8swfbd/'
                        sortData: []
                        metaData: {}
                        publicationData:
                          createdAt: '2022-06-21T15:48:55'
                          updatedAt: '2022-06-30T16:37:52'
                          released: true
                          releaseFrom: '2022-06-21T15:48:55'
                          releaseTo: '9999-12-31T23:59:59.9999999'
                    pagingData:
                      totalCount: 1
                      itemCount: 1
                      pageCount: 1
                      pageSize: 50
                      pageIndex: 0
              examples:
                example-1:
                  value:
                    metaData: {}
                    itemData:
                      - id: ae412bb2-bf6a-4568-9af0-3e959db35b0c
                        mediaData:
                          mediaType: OnDemand
                          entryId: 0_aj8swfbd
                          entryStatus: Ready
                          thumbnailUrl: 'https://open.http.mp.streamamg.com/p/3000759/sp/300075900/thumbnail/entry_id/0_aj8swfbd/'
                        sortData: []
                        metaData:
                          home_team: t14
                          body: 'A sample media '
                          home_players:
                            - p116535
                            - p60706
                            - p464353
                            - p200720
                            - p490138
                            - p433019
                          opta_fixture: '2210294'
                          content_name:
                            - highlights
                          away_players:
                            - p109745
                            - p20310
                            - p228286
                            - p431019
                            - p102380
                            - p82263
                          competition: '8'
                          content_type:
                            - Full replays
                          away_team: t8
                          livescoreplayers:
                            - '95536'
                            - '8600'
                            - '9483'
                            - '81637'
                          sysentryentitlements:
                            - basic
                            - paid
                          ground: anfield
                          country: VI
                          createdat: '2022-06-26T23:59:57'
                          VideoDuration: 31
                          optaseriesdropdown: 3
                          opta_season: '2021'
                          title: file_example_MP4_640_3MG
                          episode: 6
                          tags:
                            - Replay
                            - Football
                        publicationData:
                          createdAt: '2022-06-21T15:48:55'
                          updatedAt: '2022-07-04T10:03:22'
                          released: true
                          releaseFrom: '2022-06-01T15:48:55'
                          releaseTo: '9999-12-31T23:59:59.9999999'
                    pagingData:
                      totalCount: 1
                      itemCount: 1
                      pageCount: 1
                      pageSize: 50
                      pageIndex: 0
        '500':
          description: Internal Server Error
      operationId: get-api-v1-apiUserId-apiKey-targetId-languageCode
      description: |
        Searches the articles which are published on to the target which matches the "targetid" path parameter. The requesting user identified with the {userId} and {userKey} must have the access to the target idenitified by {targetid} to get a valid response. Target resolves to a set of country and so request will be responded only when requests coming from countries under the target. 

        Json reponse containing atciles based on a provided "query string" in query parameters of the request. 
        This query uses a syntax to parse and split the provided query string based on operators, such as AND or NOT. The query then analyzes each split text independently before returning matching documents.

        The entire reference of the query string query syntax can be found at
        https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: Elastic search query string query. The field must be qualified with the section in the body like metadata.title
        - schema:
            type: number
          in: query
          name: pageIndex
          description: 'Page index. '
        - schema:
            type: number
          in: query
          name: pageSize
          description: 'Page Size '
        - schema:
            type: string
          in: query
          name: sortBy
          description: The field name qualified with the section in the body like metadata.title.
        - schema:
            type: string
          in: query
          name: sortOrder
          description: '"asc" or "desc"'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value: {}
          application/xml:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value: {}
      x-stoplight:
        id: k2yn3p6kf1o6j
  '/api/v1/{apiUserId}/{apiKey}/{languageCode}/search':
    parameters:
      - schema:
          type: string
        name: apiUserId
        in: path
        required: true
      - schema:
          type: string
        name: apiKey
        in: path
        required: true
      - schema:
          type: string
        name: languageCode
        in: path
        required: true
    get:
      summary: Unrestricted Article Search
      tags:
        - Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    metaData: {}
                    itemData:
                      - id: ae412bb2-bf6a-4568-9af0-3e959db35b0c
                        mediaData:
                          mediaType: OnDemand
                          entryId: 0_aj8swfbd
                          entryStatus: Ready
                          thumbnailUrl: 'https://open.http.mp.streamamg.com/p/3000759/sp/300075900/thumbnail/entry_id/0_aj8swfbd/'
                        sortData: []
                        metaData: {}
                        publicationData:
                          createdAt: '2022-06-21T15:48:55'
                          updatedAt: '2022-06-30T16:37:52'
                          released: true
                          releaseFrom: '2022-06-21T15:48:55'
                          releaseTo: '9999-12-31T23:59:59.9999999'
                    pagingData:
                      totalCount: 1
                      itemCount: 1
                      pageCount: 1
                      pageSize: 50
                      pageIndex: 0
                properties:
                  metaData:
                    type: object
                    additionalProperties: true
                  itemData:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        mediaData:
                          type: object
                          properties:
                            mediaType:
                              type: string
                            entryId:
                              type: string
                            entryStatus:
                              type: string
                            thumbnailUrl:
                              type: string
                        sortData:
                          type: array
                          items:
                            type: object
                        metaData:
                          type: object
                          additionalProperties: true
                        publicationData:
                          type: object
                          properties:
                            createdAt:
                              type: string
                            updatedAt:
                              type: string
                            released:
                              type: boolean
                            releaseFrom:
                              type: string
                            releaseTo:
                              type: string
                  pagingData:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                      itemCount:
                        type: integer
                      pageCount:
                        type: integer
                      pageSize:
                        type: integer
                      pageIndex:
                        type: integer
              examples:
                example-1:
                  value:
                    metaData: {}
                    itemData:
                      - id: ae412bb2-bf6a-4568-9af0-3e959db35b0c
                        mediaData:
                          mediaType: OnDemand
                          entryId: 0_aj8swfbd
                          entryStatus: Ready
                          thumbnailUrl: 'https://open.http.mp.streamamg.com/p/3000759/sp/300075900/thumbnail/entry_id/0_aj8swfbd/'
                        sortData: []
                        metaData:
                          home_team: t14
                          body: 'A sample media '
                          home_players:
                            - p116535
                            - p60706
                            - p464353
                            - p200720
                            - p490138
                            - p433019
                          opta_fixture: '2210294'
                          content_name:
                            - highlights
                          away_players:
                            - p109745
                            - p20310
                            - p228286
                            - p431019
                            - p102380
                            - p82263
                          competition: '8'
                          content_type:
                            - Full replays
                          away_team: t8
                          livescoreplayers:
                            - '95536'
                            - '8600'
                            - '9483'
                            - '81637'
                          sysentryentitlements:
                            - basic
                            - paid
                          ground: anfield
                          country: VI
                          createdat: '2022-06-26T23:59:57'
                          VideoDuration: 31
                          optaseriesdropdown: 3
                          opta_season: '2021'
                          title: file_example_MP4_640_3MG
                          episode: 6
                          tags:
                            - Replay
                            - Football
                        publicationData:
                          createdAt: '2022-06-21T15:48:55'
                          updatedAt: '2022-06-30T16:37:52'
                          released: true
                          releaseFrom: '2022-06-21T15:48:55'
                          releaseTo: '9999-12-31T23:59:59.9999999'
                    pagingData:
                      totalCount: 1
                      itemCount: 1
                      pageCount: 1
                      pageSize: 50
                      pageIndex: 0
        '500':
          description: Internal Server Error
      operationId: get-apiUserId-apiKey-targetId-languageCode-search
      description: |-
        Searches the articles published on any target. Request coming from a valid  user from any country will be responded with the list of artciles provided articles are published. 

        Json reponse containing atciles based on a provided "query string" in query parameters of the request. 
        This query uses a syntax to parse and split the provided query string based on operators, such as AND or NOT. The query then analyzes each split text independently before returning matching documents.

        corThe entire reference of the query string query syntax can be found at
        https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html
      x-stoplight:
        id: f0to5z2uha0dh
  '/api/v1/entryentitlements/{entryId}':
    parameters:
      - schema:
          type: string
        name: entryId
        in: path
        required: true
        description: 10 characters alphanumeric Id identifying media entry
    get:
      summary: Entry Entitlement
      tags:
        - Entitlement
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  entitlement:
                    type: array
                    items:
                      type: string
                  ttl:
                    type: integer
                x-examples:
                  example-1:
                    entitlement:
                      - paid
                      - basic
                    ttl: 90
              examples:
                example-1:
                  value:
                    entitlement:
                      - paid
                      - basic
                    ttl: 90
        '500':
          description: Internal Server Error
      operationId: get-entryentitlements-entryId
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      description: 'Returns the list of entitlement and Time to live (TTL) for the "entry" identify by the entryid. '
      x-stoplight:
        id: f9jcg21i5z64g
  '/api/v1/{apiUserId}/{apiKey}/{languageCode}/feed/{feedId}':
    parameters:
      - schema:
          type: string
        name: apiUserId
        in: path
        required: true
      - schema:
          type: string
        name: apiKey
        in: path
        required: true
      - schema:
          type: string
        name: languageCode
        in: path
        required: true
      - schema:
          type: string
        name: feedId
        in: path
        required: true
    get:
      summary: Unrestricted Feed
      tags:
        - Feed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  metaData:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      title:
                        type: string
                      description:
                        type: 'null'
                      target:
                        type: string
                  itemData:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        mediaData:
                          type: object
                          properties:
                            mediaType:
                              type: string
                            entryId:
                              type: string
                            entryStatus:
                              type: string
                            thumbnailUrl:
                              type: string
                        metaData:
                          type: object
                          additionalProperties: true
                        publicationData:
                          type: object
                          properties:
                            createdAt:
                              type: string
                            updatedAt:
                              type: string
                            released:
                              type: boolean
                            releaseFrom:
                              type: string
                            releaseTo:
                              type: string
                  pagingData:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                      itemCount:
                        type: integer
                      pageCount:
                        type: integer
                      pageSize:
                        type: integer
                      pageIndex:
                        type: integer
                x-examples:
                  Example 1:
                    metaData:
                      id: d70db4a4-f454-428b-a2fe-df37950a6c35
                      name: test_feed
                      title: Test feed
                      description: null
                      target: Unrestricted
                    itemData:
                      - id: f7669a91-f4df-4dc0-950c-94bd087a9d33
                        mediaData:
                          mediaType: OnDemand
                          entryId: 0_1o4osi6n
                          entryStatus: Ready
                          thumbnailUrl: 'https://open.http.mp.streamamg.com/p/3000759/sp/300075900/thumbnail/entry_id/0_1o4osi6n/'
                        metaData:
                          home_team: null
                          body: ''
                          home_players: []
                          multiselectdd: []
                          opta_fixture: null
                          content_name: []
                          away_players: []
                          competition: null
                          content_type: []
                          away_team: null
                          livescoreplayers: []
                          sysentryentitlements: []
                          ground: null
                          tournaments: []
                          country: null
                          createdat: null
                          VideoDuration: 183
                          optaseriesdropdown: null
                          opta_season: null
                          title: sample_1280x720_surfing_with_audio
                          episode: null
                          tags:
                            - ''
                        publicationData:
                          createdAt: '2022-11-25T16:34:19'
                          updatedAt: '2022-11-29T16:09:40'
                          released: true
                          releaseFrom: '2022-11-25T16:34:19'
                          releaseTo: '9999-12-31T23:59:59.9999999'
                    pagingData:
                      totalCount: 1
                      itemCount: 1
                      pageCount: 1
                      pageSize: 50
                      pageIndex: 0
        '401':
          description: |-
            Invalid API key or UserId

            {"Message":"The API Key is not present."}
            or
            {"Message":"The API Key is invalid."}
          content:
            application/json:
              schema:
                type: object
                properties:
                  Message:
                    type: string
                x-examples:
                  Example 1:
                    Message: The API Key is not present.
        '404':
          description: |-
            Invalid FeedId

            {"Message":"The feed was not found."}
          content:
            application/json:
              schema:
                type: object
                properties:
                  Message:
                    type: string
                x-examples:
                  Example 1:
                    Message: The feed was not found.
        '500':
          description: Internal Server Error
      operationId: get-api-v1-apiUserId-apiKey-languageCode-feed-feedId
      description: |-
        Returns the list of articles matching the rules defined in Feed and to be published without any restriction on location. 
        *Note all datetimes returned are in UTC format
      x-stoplight:
        id: txzkrmsbh7lwf
  '/api/v1/{apiUserId}/{apiKey}/{languageCode}/event':
    get:
      summary: List available events
      description: |-
        ![In Review](https://img.shields.io/badge/Status-In%20Review-green?style=flat-square)
        Events API enables clients to retrieve information about fixtures such as matches, competitions, or press releases.

         This endpoint retrieves a list of events accessible to the end user, subject to the geo-restriction rules established during the event creation process. The returned events are determined based on the parameters provided at the time of the request. By default, the endpoint only returns events that are currently active or upcoming.
      operationId: list-events
      parameters:
        - in: query
          name: start
          schema:
            type: string
            enum:
              - YYYY-MM-DD
              - 'YYYY-MM-DD[T]HH:mm'
              - now
              - today
              - tomorrow
              - now.plus.1
              - now.minus.1
          required: false
          description: Limit the events to ones within the specified range. The 'end' parameter is typically used in combination with the 'start' param to form a date range. Example 'now.plus.n' should be provided in form now.plus.1 which resolved to now plus 1 day.
        - in: query
          name: end
          schema:
            type: string
            enum:
              - YYYY-MM-DD
              - 'YYYY-MM-DD[T]HH:mm'
              - now
              - today
              - tomorrow
              - now.plus.1
              - now.minus.1
          required: false
          description: Limit the events to ones within the specified range. The 'end' parameter is typically used in combination with the 'start' param to form a date range.  Example 'now.plus.n' should be provided in form now.plus.1 which resolved to now plus 1 day.
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 10
          required: false
          description: Size of the page of results
        - in: query
          name: pageIndex
          schema:
            type: integer
            default: 0
          required: false
          description: Page index of results page to be returned
        - schema:
            type: string
            example: /event?query=(metaData.opta_id%3D123123213123121)
          in: query
          name: query
          description: Elastic search query string query. The field must be qualified with the section in the body like metadata.title
      tags:
        - Event
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events'
              examples:
                EFL football match with audio only:
                  value:
                    eventData:
                      - id: cac5a29a-42ed-4218-b695-df8c89bf7049
                        type: football-match
                        priorityOrder: 1
                        title: Football Match
                        subtitle: Premier League
                        description: Manchester United vs Fulham
                        scheduleData:
                          start: '2024-02-25T15:00:00'
                          end: '2024-02-24T17:00:00'
                          offset: '2024-02-24T14:55:00'
                        metaData:
                          home_team_name: Manchester United
                          home_team_opta_id: '123123213123123'
                          away_team_name: Fulham
                          away_team_opta_id: '123123213123122'
                          competition: Premier League
                          season: 2023-2024
                          venue: Old Trafford
                          opta_id: '123123213123121'
                        itemData:
                          - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                            mediaData:
                              mediaType: Live
                              entryId: 0_1o4os161
                              entryStatus: Ready
                              thumbnailUrl: 'https://example.com/thumbnail.png'
                            metaData:
                              title: Football Match
                              body: Exciting match between Manchester United and Fulham
                              tags:
                                - football
                                - premier league
                              sysentryentitlements:
                                - paid
                              classification: audio
                              category: Features
                            publicationData:
                              createdAt: '2022-11-25T16:34:19'
                              updatedAt: '2024-04-10T07:30:53'
                              released: true
                              releaseFrom: '2022-11-25T16:34:19'
                              releaseTo: '9999-12-31T23:59:59.9999999'
                    pagingData:
                      totalCount: 1
                      itemCount: 1
                      pageCount: 1
                      pageSize: 10
                      pageIndex: 0
                EFL football match with video & audio:
                  value:
                    eventData:
                      - id: cac5a29a-42ed-4218-b695-df8c89bf7049
                        type: football-match
                        priorityOrder: 1
                        title: Football Match
                        subtitle: Premier League
                        description: Manchester United vs Fulham
                        scheduleData:
                          start: '2024-02-25T15:00:00'
                          end: '2024-02-24T17:00:00'
                          offset: '2024-02-24T14:55:00'
                        metaData:
                          home_team_name: Manchester United
                          home_team_opta_id: '123123213123123'
                          away_team_name: Fulham
                          away_team_opta_id: '123123213123122'
                          competition: Premier League
                          season: 2023-2024
                          venue: Old Trafford
                          opta_id: '123123213123121'
                        itemData:
                          - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                            mediaData:
                              mediaType: Live
                              entryId: 0_1o4os161
                              entryStatus: Ready
                              thumbnailUrl: 'https://example.com/thumbnail.png'
                            metaData:
                              title: Football Match
                              body: Exciting match between Manchester United and Fulham
                              tags:
                                - football
                                - premier league
                              sysentryentitlements:
                                - paid
                              classification: audio
                              category: Features
                            publicationData:
                              createdAt: '2022-11-25T16:34:19'
                              updatedAt: '2024-04-10T07:30:53'
                              released: true
                              releaseFrom: '2022-11-25T16:34:19'
                              releaseTo: '9999-12-31T23:59:59.9999999'
                          - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                            mediaData:
                              mediaType: Live
                              entryId: 0_1o4os162
                              entryStatus: Ready
                              thumbnailUrl: 'https://example.com/thumbnail.png'
                            metaData:
                              title: Football Match
                              body: Exciting match between Manchester United and Fulham
                              tags:
                                - football
                                - premier league
                              sysentryentitlements:
                                - paid
                              classification: video
                              category: Features
                            publicationData:
                              createdAt: '2022-11-25T16:34:19'
                              updatedAt: '2024-04-10T07:30:53'
                              released: true
                              releaseFrom: '2022-11-25T16:34:19'
                              releaseTo: '9999-12-31T23:59:59.9999999'
                    pagingData:
                      totalCount: 1
                      itemCount: 1
                      pageCount: 1
                      pageSize: 10
                      pageIndex: 0
                EFL press release:
                  value:
                    eventData:
                      - id: cac5a29a-42ed-4218-b695-df8c89bf7049
                        type: press-release
                        priorityOrder: 1
                        title: Football Match
                        subtitle: Premier League
                        description: Manchester United vs Fulham
                        scheduleData:
                          start: '2024-02-25T15:00:00'
                          end: '2024-02-24T17:00:00'
                          offset: '2024-02-24T14:55:00'
                        metaData: {}
                        itemData:
                          - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                            mediaData:
                              mediaType: Live
                              entryId: 0_1o4os161
                              entryStatus: Ready
                              thumbnailUrl: 'https://example.com/thumbnail.png'
                            metaData:
                              title: This week's press release
                              body: First press release of our new coach
                              tags:
                                - press-release
                                - news
                              sysentryentitlements:
                                - '*'
                              classification: video
                              category: PressRelease
                            publicationData:
                              createdAt: '2022-11-25T16:34:19'
                              updatedAt: '2024-04-10T07:30:53'
                              released: true
                              releaseFrom: '2022-11-25T16:34:19'
                              releaseTo: '9999-12-31T23:59:59.9999999'
                    pagingData:
                      totalCount: 1
                      itemCount: 1
                      pageCount: 1
                      pageSize: 10
                      pageIndex: 0
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-stoplight:
        id: pe03y4h6vqo9r
    parameters:
      - schema:
          type: string
        name: apiUserId
        in: path
        required: true
      - schema:
          type: string
        name: apiKey
        in: path
        required: true
      - schema:
          type: string
        name: languageCode
        in: path
        required: true
  '/api/v1/{apiUserId}/{apiKey}/{languageCode}/event/{id}':
    get:
      summary: Get a single event by ID
      operationId: get-event
      description: |-
        ![In Review](https://img.shields.io/badge/Status-In%20Review-green?style=flat-square)
        Events API enables clients to retrieve information about fixtures such as matches, competitions, or press releases. 

        Get specific event by id. If event is geo-resctriced for the location from which customer is accessing it. It will return Not Found. Both past and future events can be accessed by ID.
      parameters:
        - name: id
          in: path
          description: ID of the event to retrieve
          required: true
          schema:
            type: string
      tags:
        - Event
      responses:
        '200':
          description: Event object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
              examples:
                EFL football match:
                  value:
                    id: cac5a29a-42ed-4218-b695-df8c89bf7049
                    type: football-match
                    priorityOrder: 1
                    title: Football Match
                    subtitle: Premier League
                    description: Manchester United vs Fulham
                    scheduleData:
                      start: '2024-02-25T15:00:00'
                      end: '2024-02-24T17:00:00'
                      offset: '2024-02-24T14:55:00'
                    metaData:
                      home_team_name: Manchester United
                      home_team_opta_id: '123123213123123'
                      away_team_name: Fulham
                      away_team_opta_id: '123123213123122'
                      competition: Premier League
                      season: 2023-2024
                      venue: Old Trafford
                      opta_id: '123123213123121'
                    itemData:
                      - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                        mediaData:
                          mediaType: Live
                          entryId: 0_1o4os161
                          entryStatus: Ready
                          thumbnailUrl: 'https://example.com/thumbnail.png'
                        metaData:
                          title: Football Match
                          body: Exciting match between Manchester United and Fulham
                          tags:
                            - football
                            - premier league
                          sysentryentitlements:
                            - paid
                          classification: audio
                          category: Features
                        publicationData:
                          createdAt: '2022-11-25T16:34:19'
                          updatedAt: '2024-04-10T07:30:53'
                          released: true
                          releaseFrom: '2022-11-25T16:34:19'
                          releaseTo: '9999-12-31T23:59:59.9999999'
                EFL press release:
                  value:
                    id: cac5a29a-42ed-4218-b695-df8c89bf7049
                    type: press-release
                    priorityOrder: 1
                    title: Football Match
                    subtitle: Premier League
                    description: Manchester United vs Fulham
                    scheduleData:
                      start: '2024-02-25T15:00:00'
                      end: '2024-02-24T17:00:00'
                      offset: '2024-02-24T14:55:00'
                    metaData: {}
                    itemData:
                      - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                        mediaData:
                          mediaType: Live
                          entryId: 0_1o4os161
                          entryStatus: Ready
                          thumbnailUrl: 'https://example.com/thumbnail.png'
                        metaData:
                          title: This week's press release
                          body: First press release of our new coach
                          tags:
                            - press-release
                            - news
                          sysentryentitlements:
                            - '*'
                          classification: video
                          category: PressRelease
                        publicationData:
                          createdAt: '2022-11-25T16:34:19'
                          updatedAt: '2024-04-10T07:30:53'
                          released: true
                          releaseFrom: '2022-11-25T16:34:19'
                          releaseTo: '9999-12-31T23:59:59.9999999'
        '404':
          description: Event not found or not available in user's location
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-stoplight:
        id: z4rk59ri6btib
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
      - schema:
          type: string
        name: apiUserId
        in: path
        required: true
      - schema:
          type: string
        name: apiKey
        in: path
        required: true
      - schema:
          type: string
        name: languageCode
        in: path
        required: true
components:
  schemas:
    Events:
      title: Events Schema
      type: object
      properties:
        eventData:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        pagingData:
          type: object
          properties:
            totalCount:
              type: integer
            itemCount:
              type: integer
            pageCount:
              type: integer
            pageSize:
              type: integer
            pageIndex:
              type: integer
      x-stoplight:
        id: j8yzhydw6j6zb
    Event:
      type: object
      required:
        - id
        - type
        - priorityOrder
        - title
        - scheduleData
      properties:
        id:
          description: event ID
          type: string
        type:
          description: type of Event metadata
          type: string
        priorityOrder:
          description: priority order that allows sorting of events
          type: integer
        title:
          description: main event title
          type: string
        subtitle:
          description: secondary event title
          type: string
        description:
          description: event description
          type: string
        scheduleData:
          $ref: '#/components/schemas/EventSchedule'
        metaData:
          $ref: '#/components/schemas/EmptyObject'
        itemData:
          type: array
          items:
            $ref: '#/components/schemas/ItemData'
      x-stoplight:
        id: lwkm7p5y0ov4j
    ItemData:
      type: object
      x-stoplight:
        id: 0bd4a7a27f9e0
      required:
        - id
      properties:
        id:
          type: string
        mediaData:
          type: object
          properties:
            mediaType:
              type: string
            entryId:
              type: string
            entryStatus:
              type: string
            thumbnailUrl:
              type: string
        sortData:
          type: array
          items:
            type: object
        metaData:
          type: object
          additionalProperties: true
        publicationData:
          type: object
          properties:
            createdAt:
              type: string
            updatedAt:
              type: string
            released:
              type: boolean
            releaseFrom:
              type: string
            releaseTo:
              type: string
    EventSchedule:
      type: object
      required:
        - start
        - end
      properties:
        start:
          type: string
          description: ISO 8601 start datetime
        end:
          type: string
          description: ISO 8601 end datetime
        offset:
          type: string
          description: ISO 8601 offset datetime when event can be advertised
      x-stoplight:
        id: xyyfg2xeqewy7
    EmptyObject:
      type: object
      x-stoplight:
        id: e28df6d89f182
    ImageDataType:
      type: object
      properties:
        type:
          type: string
          enum:
            - image
        title:
          type: string
          description: image title can be used for an alt attribute when embedding images into HTML
        renditions:
          type: object
          additionalProperties:
            type: object
            properties:
              width:
                type: integer
              height:
                type: integer
              type:
                type: string
                enum:
                  - png
                  - jpeg
                  - gif
                  - webp
              url:
                type: string
      x-stoplight:
        id: ff1c3df07db85
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: ''
