openapi: 3.1.0
x-stoplight:
  id: mvcuji92q28ni
info:
  title: Events Configuration
  version: '1.0'
  summary: Protected Events Configuration API that allows us to perform management operations on our Events.
servers:
  - url: 'https://api.events-configuration.streamamg.com/api/v1'
    description: prod
  - url: 'https://api.events-configuration.staging.streamamg.com/api/v1'
    description: staging
  - url: 'https://api.events-configuration.dev.streamamg.com/api/v1'
    description: dev
paths:
  /events:
    get:
      summary: list events
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    eventData:
                      - id: cac5a29a-42ed-4218-b695-df8c89bf7049
                        priorityOrder: 1
                        title: Football Match
                        subtitle: Premier League
                        description: Manchester United vs Fulham
                        scheduleData:
                          start: '2024-02-25T15:00:00'
                          end: '2024-02-24T17:00:00'
                          offset: '2024-02-24T14:55:00'
                        metaData:
                          type: footballMatch
                          footballMatch:
                            teams:
                              home:
                                name: Manchester United
                                logo:
                                  type: image
                                  title: Manchester United logo
                                  renditions:
                                    original:
                                      width: 550
                                      height: 550
                                      type: jpeg
                                      url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                              away:
                                name: Fulham
                                logo:
                                  type: image
                                  title: Fulham logo
                                  renditions:
                                    original:
                                      width: 550
                                      height: 550
                                      type: jpeg
                                      url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                            competition: Premier League
                            season: 2023-2024
                            venue: Old Trafford
                            eventLogo:
                              type: image
                              title: image alt title
                              renditions:
                                original:
                                  width: 550
                                  height: 550
                                  type: jpeg
                                  url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                        itemData:
                          - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                            type: audio
                            thumbnailUrl: 'https://example.com/thumbnail.png'
                            mediaData:
                              legacyEntryId: '123'
                            metaData:
                              title: Football Match
                              body: Exciting match between Manchester United and Fulham
                              tags:
                                - football
                                - premier league
                              sysentryentitlements:
                                - audio
                        integrationData:
                          optaId: '2367795'
                    pagingData:
                      totalCount: 1
                      itemCount: 1
                      pageCount: 1
                      pageSize: 10
                      pageIndex: 0
                properties:
                  eventData:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - priorityOrder
                        - title
                        - scheduleData
                        - itemData
                      properties:
                        id:
                          type: string
                        priorityOrder:
                          type: integer
                        title:
                          type: string
                        subtitle:
                          type: string
                        description:
                          type: string
                        scheduleData:
                          type: object
                          required:
                            - start
                            - end
                          properties:
                            start:
                              type: string
                            end:
                              type: string
                            offset:
                              type: string
                        metaData:
                          type: object
                          required:
                            - type
                          properties:
                            type:
                              type: string
                            footballMatch:
                              type: object
                              properties:
                                teams:
                                  type: object
                                  properties:
                                    home:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                    away:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                competition:
                                  type: string
                                season:
                                  type: string
                                venue:
                                  type: string
                        itemData:
                          type: array
                          items:
                            type: object
                            required:
                              - id
                              - type
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                        integrationData:
                          type: object
                          properties:
                            optaId:
                              type: string
                  pagingData:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                      itemCount:
                        type: integer
                      pageCount:
                        type: integer
                      pageSize:
                        type: integer
                      pageIndex:
                        type: integer
              examples:
                Events list:
                  value:
                    eventData:
                      - id: cac5a29a-42ed-4218-b695-df8c89bf7049
                        priorityOrder: 1
                        title: Football Match
                        subtitle: Premier League
                        description: Manchester United vs Fulham
                        scheduleData:
                          start: '2024-02-25T15:00:00'
                          end: '2024-02-24T17:00:00'
                          offset: '2024-02-24T14:55:00'
                        metaData:
                          type: footballMatch
                          footballMatch:
                            teams:
                              home:
                                name: Manchester United
                                logo:
                                  type: image
                                  title: Manchester United logo
                                  renditions:
                                    original:
                                      width: 550
                                      height: 550
                                      type: jpeg
                                      url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                              away:
                                name: Fulham
                                logo:
                                  type: image
                                  title: Fulham logo
                                  renditions:
                                    original:
                                      width: 550
                                      height: 550
                                      type: jpeg
                                      url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                            competition: Premier League
                            season: 2023-2024
                            venue: Old Trafford
                            eventLogo:
                              type: image
                              title: image alt title
                              renditions:
                                original:
                                  width: 550
                                  height: 550
                                  type: jpeg
                                  url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                        itemData:
                          - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                            type: audio
                            thumbnailUrl: 'https://example.com/thumbnail.png'
                            mediaData:
                              legacyEntryId: '123'
                            metaData:
                              title: Football Match
                              body: Exciting match between Manchester United and Fulham
                              tags:
                                - football
                                - premier league
                              sysentryentitlements:
                                - audio
                        integrationData:
                          optaId: '2367795'
                    pagingData:
                      totalCount: 1
                      itemCount: 1
                      pageCount: 1
                      pageSize: 10
                      pageIndex: 0
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-events
      x-stoplight:
        id: n3aj56qy7v6ei
      x-internal: true
      parameters: []
    parameters:
      - schema:
          type: string
        in: header
        name: x-api-key
        description: API key to access admin endpoint
      - schema:
          type: string
        in: header
        name: tennant-id
        description: Tennant ID
    post:
      summary: create event
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request - validation fails
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: create-event
      x-stoplight:
        id: 3ibg2w821os3y
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  priorityOrder: 1
                  title: Football Match
                  subtitle: Premier League
                  description: Manchester United vs Fulham
                  scheduleData:
                    start: '2024-02-25T15:00:00'
                    end: '2024-02-24T17:00:00'
                    offset: '2024-02-24T14:55:00'
                  metaData:
                    type: footballMatch
                    footballMatch:
                      teams:
                        home:
                          name: Manchester United
                          logo:
                            type: image
                            title: Manchester United logo
                            renditions:
                              original:
                                width: 550
                                height: 550
                                type: jpeg
                                url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                        away:
                          name: Fulham
                          logo:
                            type: image
                            title: Fulham logo
                            renditions:
                              original:
                                width: 550
                                height: 550
                                type: jpeg
                                url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                      competition: Premier League
                      season: 2023-2024
                      venue: Old Trafford
                      eventLogo:
                        type: image
                        title: image alt title
                        renditions:
                          original:
                            width: 550
                            height: 550
                            type: jpeg
                            url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                  itemData:
                    - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                      type: audio
                      thumbnailUrl: 'https://example.com/thumbnail.png'
                      mediaData:
                        legacyEntryId: '123'
                      metaData:
                        title: Football Match
                        body: Exciting match between Manchester United and Fulham
                        tags:
                          - football
                          - premier league
                        sysentryentitlements:
                          - audio
                  integrationData:
                    optaId: '2367795'
              required:
                - priorityOrder
                - title
                - scheduleData
                - metaData
                - itemData
              properties:
                priorityOrder:
                  type: integer
                title:
                  type: string
                subtitle:
                  type: string
                description:
                  type: string
                scheduleData:
                  type: object
                  required:
                    - start
                    - end
                  properties:
                    start:
                      type: string
                    end:
                      type: string
                    offset:
                      type: string
                metaData:
                  type: object
                  required:
                    - type
                  properties:
                    type:
                      type: string
                    footballMatch:
                      type: object
                      properties:
                        teams:
                          type: object
                          properties:
                            home:
                              type: object
                              properties:
                                name:
                                  type: string
                            away:
                              type: object
                              properties:
                                name:
                                  type: string
                        competition:
                          type: string
                        season:
                          type: string
                        venue:
                          type: string
                itemData:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - type
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        x-stoplight:
                          id: mq5snj1yzrkak
                integrationData:
                  type: object
                  properties:
                    optaId:
                      type: string
            examples:
              Example 1:
                value:
                  priorityOrder: 1
                  title: Football Match
                  subtitle: Premier League
                  description: Manchester United vs Fulham
                  scheduleData:
                    start: '2024-02-25T15:00:00'
                    end: '2024-02-24T17:00:00'
                    offset: '2024-02-24T14:55:00'
                  metaData:
                    type: footballMatch
                    footballMatch:
                      teams:
                        home:
                          name: Manchester United
                          logo:
                            type: image
                            title: Manchester United logo
                            renditions:
                              original:
                                width: 550
                                height: 550
                                type: jpeg
                                url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                        away:
                          name: Fulham
                          logo:
                            type: image
                            title: Fulham logo
                            renditions:
                              original:
                                width: 550
                                height: 550
                                type: jpeg
                                url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                      competition: Premier League
                      season: 2023-2024
                      venue: Old Trafford
                      eventLogo:
                        type: image
                        title: image alt title
                        renditions:
                          original:
                            width: 550
                            height: 550
                            type: jpeg
                            url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                  itemData:
                    - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                      type: audio
                      thumbnailUrl: 'https://example.com/thumbnail.png'
                      mediaData:
                        legacyEntryId: '123'
                      metaData:
                        title: Football Match
                        body: Exciting match between Manchester United and Fulham
                        tags:
                          - football
                          - premier league
                        sysentryentitlements:
                          - audio
                  integrationData:
                    optaId: '2367795'
  '/events/{eventID}':
    parameters:
      - schema:
          type: string
        name: eventID
        in: path
        required: true
        description: id of the event
      - schema:
          type: string
        in: header
        description: API key to access admin endpoint
        name: x-api-key
      - schema:
          type: string
        in: header
        description: Tennant ID
        name: tennant-id
    get:
      summary: get event
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    id: cac5a29a-42ed-4218-b695-df8c89bf7049
                    priorityOrder: 1
                    title: Football Match
                    subtitle: Premier League
                    description: Manchester United vs Fulham
                    scheduleData:
                      start: '2024-02-25T15:00:00'
                      end: '2024-02-24T17:00:00'
                      offset: '2024-02-24T14:55:00'
                    metaData:
                      type: footballMatch
                      footballMatch:
                        teams:
                          home:
                            name: Manchester United
                            logo:
                              type: image
                              title: Manchester United logo
                              renditions:
                                original:
                                  width: 550
                                  height: 550
                                  type: jpeg
                                  url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                          away:
                            name: Fulham
                            logo:
                              type: image
                              title: Fulham logo
                              renditions:
                                original:
                                  width: 550
                                  height: 550
                                  type: jpeg
                                  url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                        competition: Premier League
                        season: 2023-2024
                        venue: Old Trafford
                        eventLogo:
                          type: image
                          title: image alt title
                          renditions:
                            original:
                              width: 550
                              height: 550
                              type: jpeg
                              url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                    itemData:
                      - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                        type: audio
                        thumbnailUrl: 'https://example.com/thumbnail.png'
                        mediaData:
                          legacyEntryId: '123'
                        metaData:
                          title: Football Match
                          body: Exciting match between Manchester United and Fulham
                          tags:
                            - football
                            - premier league
                          sysentryentitlements:
                            - audio
                    integrationData:
                      optaId: '2367795'
                required:
                  - id
                  - priorityOrder
                  - title
                  - scheduleData
                  - metaData
                  - itemData
                properties:
                  id:
                    type: string
                  priorityOrder:
                    type: integer
                  title:
                    type: string
                  subtitle:
                    type: string
                  description:
                    type: string
                  scheduleData:
                    type: object
                    required:
                      - start
                      - end
                    properties:
                      start:
                        type: string
                      end:
                        type: string
                      offset:
                        type: string
                  metaData:
                    type: object
                    required:
                      - type
                    properties:
                      type:
                        type: string
                      footballMatch:
                        type: object
                        properties:
                          teams:
                            type: object
                            properties:
                              home:
                                type: object
                                properties:
                                  name:
                                    type: string
                              away:
                                type: object
                                properties:
                                  name:
                                    type: string
                          competition:
                            type: string
                          season:
                            type: string
                          venue:
                            type: string
                  itemData:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - type
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                  integrationData:
                    type: object
                    properties:
                      optaId:
                        type: string
              examples:
                Example 1:
                  value:
                    id: cac5a29a-42ed-4218-b695-df8c89bf7049
                    priorityOrder: 1
                    title: Football Match
                    subtitle: Premier League
                    description: Manchester United vs Fulham
                    scheduleData:
                      start: '2024-02-25T15:00:00'
                      end: '2024-02-24T17:00:00'
                      offset: '2024-02-24T14:55:00'
                    metaData:
                      type: footballMatch
                      footballMatch:
                        teams:
                          home:
                            name: Manchester United
                            logo:
                              type: image
                              title: Manchester United logo
                              renditions:
                                original:
                                  width: 550
                                  height: 550
                                  type: jpeg
                                  url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                          away:
                            name: Fulham
                            logo:
                              type: image
                              title: Fulham logo
                              renditions:
                                original:
                                  width: 550
                                  height: 550
                                  type: jpeg
                                  url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                        competition: Premier League
                        season: 2023-2024
                        venue: Old Trafford
                        eventLogo:
                          type: image
                          title: image alt title
                          renditions:
                            original:
                              width: 550
                              height: 550
                              type: jpeg
                              url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                    itemData:
                      - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                        type: audio
                        thumbnailUrl: 'https://example.com/thumbnail.png'
                        mediaData:
                          legacyEntryId: '123'
                        metaData:
                          title: Football Match
                          body: Exciting match between Manchester United and Fulham
                          tags:
                            - football
                            - premier league
                          sysentryentitlements:
                            - audio
                    integrationData:
                      optaId: '2367795'
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-events-by-id
      description: Retrieve Events details by providing Event ID.
      x-stoplight:
        id: 13dtmd8mbzu6n
      x-internal: true
      parameters: []
    patch:
      summary: update event
      tags: []
      responses:
        '200':
          description: event updated
        '400':
          description: Bad Request - validation fails
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: update-event
      x-stoplight:
        id: 1418g4ebpjllr
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  id: cac5a29a-42ed-4218-b695-df8c89bf7049
                  priorityOrder: 1
                  title: Football Match
                  subtitle: Premier League
                  description: Manchester United vs Fulham
                  scheduleData:
                    start: '2024-02-25T15:00:00'
                    end: '2024-02-24T17:00:00'
                    offset: '2024-02-24T14:55:00'
                  metaData:
                    type: footballMatch
                    footballMatch:
                      teams:
                        home:
                          name: Manchester United
                          logo:
                            type: image
                            title: Manchester United logo
                            renditions:
                              original:
                                width: 550
                                height: 550
                                type: jpeg
                                url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                        away:
                          name: Fulham
                          logo:
                            type: image
                            title: Fulham logo
                            renditions:
                              original:
                                width: 550
                                height: 550
                                type: jpeg
                                url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                      competition: Premier League
                      season: 2023-2024
                      venue: Old Trafford
                      eventLogo:
                        type: image
                        title: image alt title
                        renditions:
                          original:
                            width: 550
                            height: 550
                            type: jpeg
                            url: 'http://images.streamamg.com/345455b2-8f0f-4442-b317-da58396742a9'
                  itemData:
                    - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                      type: audio
                      thumbnailUrl: 'https://example.com/thumbnail.png'
                      mediaData:
                        legacyEntryId: '123'
                      metaData:
                        title: Football Match
                        body: Exciting match between Manchester United and Fulham
                        tags:
                          - football
                          - premier league
                        sysentryentitlements:
                          - audio
                  integrationData:
                    optaId: '2367795'
              properties:
                priorityOrder:
                  type: integer
                title:
                  type: string
                subtitle:
                  type: string
                description:
                  type: string
                scheduleData:
                  type: object
                  properties:
                    start:
                      type: string
                    end:
                      type: string
                    offset:
                      type: string
                metaData:
                  type: object
                  properties:
                    type:
                      type: string
                    footballMatch:
                      type: object
                      properties:
                        teams:
                          type: object
                          properties:
                            home:
                              type: object
                              properties:
                                name:
                                  type: string
                            away:
                              type: object
                              properties:
                                name:
                                  type: string
                        competition:
                          type: string
                        season:
                          type: string
                        venue:
                          type: string
                itemData:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                integrationData:
                  type: object
                  properties:
                    optaId:
                      type: string
            examples:
              update title:
                value:
                  title: new title
              'update title, description & priority':
                value:
                  priorityOrder: 0
                  title: string
                  description: string
      description: Used to update any root level fields in the Event.
  '/events/{eventID}/scheduleData':
    parameters:
      - schema:
          type: string
        name: eventID
        in: path
        required: true
        description: id of the event
      - schema:
          type: string
        in: header
        description: API key to access admin endpoint
        name: x-api-key
      - schema:
          type: string
        in: header
        description: Tennant ID
        name: tennant-id
    patch:
      summary: update event's schedule
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request - validation fails
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: update-event-scheduleData
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                start:
                  type: string
                end:
                  type: string
                offset:
                  type: string
              x-examples:
                Example 1:
                  start: new start date/time
                  end: new end date/time
                  offset: new offset value
            examples:
              update title:
                value:
                  title: new title
              'update title, description & priority':
                value:
                  priorityOrder: 0
                  title: string
                  description: string
      description: Used to update schedule information in the Event.
      x-stoplight:
        id: nid6oq4a3gytf
  '/events/{eventID}/integrationData':
    parameters:
      - schema:
          type: string
        name: eventID
        in: path
        required: true
        description: id of the event
      - schema:
          type: string
        in: header
        description: API key to access admin endpoint
        name: x-api-key
      - schema:
          type: string
        in: header
        description: Tennant ID
        name: tennant-id
    patch:
      summary: update event's integrations
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request - validation fails
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: update-event-integrationData
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                optaId:
                  type: string
              x-examples:
                Example 1:
                  optaId: '2367795'
            examples:
              update title:
                value:
                  title: new title
              'update title, description & priority':
                value:
                  priorityOrder: 0
                  title: string
                  description: string
      description: Used to update integration information in the Event.
      x-stoplight:
        id: r44secwiguq6t
  '/events/{eventID}/itemData':
    parameters:
      - schema:
          type: string
        name: eventID
        in: path
        required: true
        description: id of the event
      - schema:
          type: string
        in: header
        description: API key to access admin endpoint
        name: x-api-key
      - schema:
          type: string
        in: header
        description: Tennant ID
        name: tennant-id
    post:
      summary: add entry
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request - validation fails
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: add-event-itemData
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  id: 37111304-c1f7-4c58-9944-9bfe64b53644
                  type: audio
              required:
                - id
                - type
              properties:
                id:
                  type: string
                type:
                  type: string
            examples:
              Example 1:
                value:
                  id: <uuid>
                  type: video
      description: Used to add new video or audio entry to the Event.
      x-stoplight:
        id: jtvhhaqvuh9a6
  '/events/{eventID}/itemData/{itemDataId}':
    parameters:
      - schema:
          type: string
        name: eventID
        in: path
        required: true
        description: id of the event
      - schema:
          type: string
        name: itemDataId
        in: path
        required: true
        description: Cloudmatrix article ID
      - schema:
          type: string
        in: header
        description: API key to access admin endpoint
        name: x-api-key
      - schema:
          type: string
        in: header
        description: Tennant ID
        name: tennant-id
    delete:
      summary: delete entry
      tags: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request - validation fails
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: delete-event-itemData
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  id: 37111304-c1f7-4c58-9944-9bfe64b53644
                  type: audio
              required:
                - id
                - type
              properties:
                id:
                  type: string
                type:
                  type: string
            examples:
              Example 1:
                value:
                  id: <uuid>
                  type: video
      description: Used to remove video or audio entry to the Event.
      x-stoplight:
        id: ik26irvlpruh5
x-internal: true
