openapi: 3.0.1
info:
  title: StreamAMG Events API
  version: '2024-02-29T13:57:07Z'
  license:
    name: N/A
    url: N/A
  contact:
    name: Bartosz Zabuski
    email: bartosz.zabuski@pamediagroup.com
    url: N/A
  description: 'The CloudMatrix Events API allows clients get details on fixtures like matches, competitions or press releases.'
servers:
  - url: 'https://cloudmatrix.api.streamamg.com/events'
tags:
  - name: EventsAPI
    description: EventsAPI
paths:
  /events:
    get:
      summary: List available events
      description: Lists events available for the end user depending the geo-restriction rules applied at creation of the event and based on provided parameters at the request time.
      operationId: list-events
      responses:
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events'
              examples:
                footballMatchEvent:
                  value:
                    events:
                      - id: cac5a29a-42ed-4218-b695-df8c89bf7049
                        priorityOrder: 1
                        title: Football Match
                        subtitle: Premier League
                        description: Manchester United vs Chelsea
                        venue: Old Trafford
                        schedule:
                          start: '2024-01-01T18:30:00'
                          end: '2024-01-01T20:30:00'
                          offset: 30
                        metaData:
                          type: footballMatch
                          footballMatch:
                            teams:
                              home:
                                name: Manchester United
                                logo: 'https://example.com/manchester_united_logo.png'
                              away:
                                name: Chelsea
                                logo: 'https://example.com/chelsea_logo.png'
                            competition: Premier League
                            season: 2023-2024
                        media:
                          - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                            type: audio
                            thumbnailUrl: 'https://example.com/thumbnail.png'
                            mediaData:
                              legacyEntryId: '123'
                            metadata:
                              title: Football Match
                              body: Exciting match between Manchester United and Chelsea
                              tags:
                                - football
                                - premier league
                              entitlements:
                                - premium
                            publicationData:
                              createdAt: '2022-01-01T00:00:00'
                              updatedAt: '2022-01-01T00:00:00'
                              released: true
                              releaseFrom: '2022-01-01T00:00:00'
                              releaseTo: '2022-12-31T23:59:59'
                        integrations:
                          optaId: eventOptaId
                pressReleaseEvent:
                  value:
                    events:
                      - id: cac5a29a-42ed-4218-b695-df8c89bf7048
                        priorityOrder: 2
                        title: Press Release this week
                        subtitle: New coach joining the team!
                        schedule:
                          start: '2024-03-01T18:30:00'
                          end: '2024-03-01T20:30:00'
                        media:
                          - id: 37111304-c1f7-4c58-9944-9bfe64b53644
                            type: video
                            thumbnailUrl: 'https://example.com/thumbnail.png'
                            mediaData:
                              legacyEntryId: '123'
                            metadata:
                              title: This week's press release
                              body: First press release of our new coach
                              tags:
                                - press-release
                                - news
                              entitlements:
                                - '*'
                            publicationData:
                              createdAt: '2024-03-01T00:00:00'
                              updatedAt: '2024-03-01T00:00:00'
                              released: true
                              releaseFrom: '2024-03-01T00:00:00'
                              releaseTo: '2024-12-31T23:59:59'
  /events/{id}:
    get:
      summary: Get a single event by ID
      description: Get specific event by id. If event is geo-resctriced for the location from which customer is accessing it. It will return Not Found.
      parameters:
        - name: id
          in: path
          description: ID of the event to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Event not found or not available in user's location
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
components:
  schemas:
    Events:
      title: Events Schema
      type: object
      properties:
        events:
          type: array
          items:
            - $ref: '#/components/schemas/Event'
    Event:
      type: object
      required:
        - id
        - priorityOrder
        - title
        - schedule
      properties:
        id:
          description: event ID
          type: string
        priorityOrder:
          description: priority order that allows sorting of events
          type: integer
        title:
          description: main event title
          type: string
        subtitle:
          description: secondary event title
          type: string
        description:
          description: event description
          type: string
        venue:
          type: string
          description: event's venue
        schedule:
          $ref: '#/components/schemas/EventSchedule'
        metaData:
          $ref: '#/components/schemas/EventMetadata'
        media:
          type: array
          items:
            $ref: '#/components/schemas/Media'
        integrations:
          type: object
          properties:
            optaFixtureId:
              description: Opta Fixture ID
              type: string
    MediaPublicationData:
      type: object
      required:
        - createdAt
        - updatedAt
        - released
        - releaseFrom
        - releaseTo
      properties:
        createdAt:
          type: string
          description: ISO 8601 created at datetime
        updatedAt:
          type: string
          description: ISO 8601 updated at datetime
        released:
          type: boolean
          description: flag indicating media entry being released
        releaseFrom:
          type: string
          description: ISO 8601 release from datetime
        releaseTo:
          type: string
          description: ISO 8601 release to datetime
    MediaMetadata:
      type: object
      required:
        - title
        - body
        - entitlements
      properties:
        title:
          type: string
          description: media entry title
        body:
          type: string
          description: media entry description
        tags:
          type: array
          description: media entry tags
          items:
            type: string
        entitlements:
          type: array
          description: entitlements for media entry that permit suitable users to view it
          items:
            type: string
    Media:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
          description: media entry Cloudmatrix ID
        type:
          type: string
          description: 'media type (audio, video)'
        thumbnailUrl:
          type: string
          description: URL to media thumbnail
        mediaData:
          $ref: '#/components/schemas/MediaData'
        metadata:
          $ref: '#/components/schemas/MediaMetadata'
        publicationData:
          $ref: '#/components/schemas/MediaPublicationData'
    MediaData:
      type: object
      properties:
        legacyEntryId:
          type: string
          description: legacy media entry ID (e.g. Kaltura)
    EventMetadata:
      type: object
      required:
        - type
      properties:
        type:
          type: string
        footballMatch:
          $ref: '#/components/schemas/FootballMatchMetadata'
        tennisEvent:
          $ref: '#/components/schemas/EmptyPlaceholder'
        customEvent:
          $ref: '#/components/schemas/EmptyPlaceholder'
    EmptyPlaceholder:
      type: object
    FootballMatchMetadata:
      type: object
      properties:
        teams:
          type: object
          properties:
            home:
              type: object
              properties:
                name:
                  type: string
                logo:
                  type: string
            away:
              type: object
              properties:
                name:
                  type: string
                logo:
                  type: string
            competition:
              type: string
            season:
              type: string
    EventSchedule:
      type: object
      required:
        - start
        - end
      properties:
        start:
          type: string
          description: ISO 8601 start datetime
        end:
          type: string
          description: ISO 8601 end datetime
        offset:
          type: number
          description: offset in minutes when the event starts
x-internal: true
