openapi: 3.1.0
info:
  title: API Reference
  version: '1.0'
  contact:
    name: Jonathon Robins
    email: Jonathon.Robins@pamediagroup.com
  summary: An API to facilitate the uploading of media Content into StreamAMGs CloudMatrix & MediaPlatform Products
  description: |-
    The CloudMatrix Upload API provides clients with the functionality to upload Media Content via a HTTP API with no dependencies on a technology or framework.

    The upload functionality allows clients to upload Rich Metadata alongside their media so that it is automatically available within CloudMatrix once the media entry is processed via MediaPlatform. 
tags:
  - name: Entry
  - name: Multipart
servers:
  - url: 'https://cloudmatrix.api.streamamg.com'
paths:
  /entry:
    parameters:
      - in: query
        schema:
          type: string
          default: en
        name: language
        required: false
        description: The Cloudmatrix language for custom attributes (representing a valid configured language).
    post:
      summary: Create a new CloudMatrix entry
      operationId: post-upload
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    entryId: 0_xshqrl2n
                    uploadUrl: 'https://streamamg.s3.eu-west-2.amazonaws.com/example-1.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJJWZ7B6WCRGMKFGQ%2F20180210%2Feu-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180210T171315Z&X-Amz-Expires=1800&X-Amz-Signature=12b74b0788aa036bc7c3d03b3f20c61f1f91cc9ad8873e3314255dc479a25351&X-Amz-SignedHeaders=host'
                properties:
                  entryId:
                    type: string
                    minLength: 1
                  uploadUrl:
                    type: string
                    minLength: 1
                required:
                  - entryId
                  - uploadUrl
              examples:
                Example:
                  value:
                    entryId: 0_xshqrl2n
                    uploadUrl: 'https://streamamg.s3.eu-west-2.amazonaws.com/example-1.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJJWZ7B6WCRGMKFGQ%2F20180210%2Feu-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180210T171315Z&X-Amz-Expires=1800&X-Amz-Signature=12b74b0788aa036bc7c3d03b3f20c61f1f91cc9ad8873e3314255dc479a25351&X-Amz-SignedHeaders=host'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                    enum:
                      - 400
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Bad Request Exception
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                Example:
                  value:
                    message: Forbidden
        '500':
          description: Application Error
          content:
            application/json:
              schema:
                description: On an unexpected or validation application error return a generic error message
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Example:
                  value:
                    status: 500
                    message: Error creating a new entry
      description: |-
        <!--
        focus: false
        -->
        ![In Review](https://img.shields.io/badge/Status-In%20Review-green?style=flat-square)

        In order to upload a media entry, first an initial API call to retrive a signed URL must be generated. This signed URL will allow you to directly upload the media asset to the storage location via HTTP.

        The initial API call should consist of attributes (metadata) you would like to store against your asset within the CloudMatrix Platform and any associated publication details for the entry you are uploading.

        **Note**: 
        - This method of upload only supports upto 5GB per asset, for larger assets please refer to the multipart upload.
        - This endpoint uploads only the VOD entries
      tags:
        - Entry
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                attributes:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  description: The metadata attributes
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 1
                        description: CloudMatrix attribute id
                      value:
                        type: string
                        minLength: 1
                        description: CloudMatrix attribute value
                      items:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        description: CloudMatrix attribute where value is a collection
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            value:
                              type: string
                              minLength: 1
                              description: CloudMatrix attribute value
                            alias:
                              type: string
                              minLength: 1
                              description: 'CloudMatrix attribute report value, this should be used as an alias for 3rd party attribute value'
                          required:
                            - value
                    required:
                      - id
                publication:
                  type: object
                  required:
                    - publish
                    - from
                  properties:
                    publish:
                      type: boolean
                      description: CloudMatrix attribute flag to indicate whether to publish the attribute or not
                      default: false
                    from:
                      type: string
                      minLength: 1
                      description: |-
                        From date is required only when publish is set to true.
                        Expected format is ISO 8601.
                    to:
                      type: string
                      minLength: 1
                      description: Expected format is ISO 8601.
                    config:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        type: object
                        properties:
                          target:
                            type: string
                            minLength: 1
                            description: CloudMatrix target uuid
                          from:
                            type: string
                            minLength: 1
                            description: Expected format is ISO 8601.
                          to:
                            type: string
                            minLength: 1
                            description: Expected format is ISO 8601.
                          region:
                            type: array
                            uniqueItems: true
                            minItems: 1
                            description: CloudMatrix attribute
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  minLength: 1
                                  description: CloudMatrix region uuid
                                from:
                                  type: string
                                  minLength: 1
                                  description: Expected format is ISO 8601.
                                to:
                                  type: string
                                  minLength: 1
                                  description: Expected format is ISO 8601.
                              required:
                                - id
                        required:
                          - target
                          - region
              required:
                - attributes
                - publication
            examples:
              Example:
                value:
                  attributes:
                    - id: e078d72a-aad4-4b68-9227-e0bde0b35c6d
                      value: Some Title
                    - id: 57e816fb-03b7-4706-a99f-5c6ef8d18ada
                      value: Some Description
                    - id: 57e816fb-03b7-4706-a99f-5c6ef8d18adb
                      value: Some custom field
                    - id: e078d72a-aad4-4b68-9227-e0bde0b35c6z
                      items:
                        - value: entitlement1
                        - value: entitlement2
                    - id: a61de76c-e367-4c63-93e0-2d6fd6e256cf
                      items:
                        - alias: '1234'
                          value: Team A
                        - alias: '6789'
                          value: Team B
                  publication:
                    publish: true
                    from: '06-03-2022T22:51:25Z'
                    to: '06-06-2022T22:51:25Z'
                    config:
                      - target: web
                        region:
                          - id: 067f103a-e1ca-461b-8ef8-a4f681a9f6d2
                            from: '06-03-2022T22:51:25Z'
                            to: '06-06-2022T22:51:25Z'
                          - id: 067f103a-e1ca-461b-8ef8-a4f681a9f6d3
                            from: '06-03-2022T22:51:25Z'
                            to: '06-06-2022T22:51:25Z'
                      - target: app
                        from: '06-03-2022T22:51:25Z'
                        to: '06-06-2022T22:51:25Z'
                        region:
                          - from: '06-03-2022T22:51:25Z'
                            to: '06-06-2022T22:51:25Z'
                            id: 067f103a-e1ca-461b-8ef8-a4f681a9f6d2
        description: The body should contain the additional CloudMatrix Metadata you would like to store along side the entry.
  '/entry/{entryId}':
    parameters:
      - in: path
        schema:
          type: string
        name: entryId
        required: true
        description: The Cloudmatrix entry id to update (representing the article which must already exist).
      - in: query
        schema:
          type: string
          default: en
        name: language
        required: false
        description: The Cloudmatrix language for custom attributes (representing a valid configured language).
    patch:
      summary: Update Entry Attributes
      operationId: patch-attributes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                    enum:
                      - 200
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Example:
                  value:
                    status: 200
                    message: Attributes updated successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                    enum:
                      - 400
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Not Found:
                  value:
                    status: 400
                    message: 'Attribute id(s) e078d72a-aad4-4b68-9227-e0bde0b35xx1,e078d72a-aad4-4b68-9227-e0bde0b35xx2 not found'
                Invalid Request:
                  value:
                    status: 400
                    message: Bad Request Exception
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                Example:
                  value:
                    message: Forbidden
        '500':
          description: Validation Error
          content:
            application/json:
              schema:
                description: 'On an unexpected or validation error e.g. invalid integer type or dropdown value, return a response detailing the asset and identifiers of the failed media asset configuration item(s).'
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Example:
                  value:
                    status: 500
                    message: Cannot update for entry id 0_507zgscf with attribute id a61de76c-e367-4c63-93e0-2d6fd6e256cf
      description: |-
        <!--
        focus: false
        -->
        ![In Review](https://img.shields.io/badge/Status-In%20Review-green?style=flat-square)

        The endpoint updates existing CloudMatrix media entry attributes.
      tags:
        - Entry
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                attributes:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  description: The metadata attributes (either as a single value or a collection of values).
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 1
                        description: CloudMatrix attribute id (media asset configured custom field identifier)
                      value:
                        type: string
                        minLength: 1
                        description: CloudMatrix attribute value (media asset configured custom field value)
                      items:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        description: CloudMatrix attribute where value is a collection.
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            value:
                              type: string
                              minLength: 1
                              description: CloudMatrix attribute value (media asset configured custom field value)
                          required:
                            - value
                    required:
                      - id
              required:
                - attributes
            examples:
              String Value Example:
                value:
                  attributes:
                    - id: e078d72a-aad4-4b68-9227-e0bde0b35c6d
                      value: Updated Title
              Integer Value Example:
                value:
                  attributes:
                    - id: 57e816fb-03b7-4706-a99f-5c6ef8d18ada
                      value: '123'
              Boolean Value Example:
                value:
                  attributes:
                    - id: 57e816fb-03b7-4706-a99f-5c6ef8d18adb
                      value: 'true'
              Multi-Value Example:
                value:
                  attributes:
                    - id: e078d72a-aad4-4b68-9227-e0bde0b35c6z
                      items:
                        - value: team1
                        - value: team2
              Date Value Example:
                value:
                  attributes:
                    - id: 7ac5484e-ec8c-45f6-9437-95c909f5d41d
                      value: '2022-02-24'
              Time Value Example:
                value:
                  attributes:
                    - id: 17cfb9e1-1775-41a8-8628-1cf053551c73
                      value: '15:30'
              Datetime Value Example:
                value:
                  attributes:
                    - id: cdb8eb34-917f-4e45-b617-a6d994d00d2c
                      value: '2022-02-24 11:30:20'
                    - id: cdb8eb34-917f-4e45-b617-a6d994d00d2c
                      value: '2022/02/24 11:30:20'
        description: |-
          The body should contain the additional CloudMatrix Metadata attributes you would like to update. 

          The value(s) supplied must be of the correct type for the media asset configured custom field (see examples)

          Invalid value(s) will result in a status code of 500 being returned (see responses) detailing the error-prone 
          attribute identifier.

          Any error (validation or non-existent custom attribute etc) will result in no changes being updated in the 
          entire payload. If all the changes are valid and updates are possible then they will all be committed to the 
          database in one transaction.
      parameters:
        - schema:
            type: string
          in: header
          name: x-api-key
          description: Authorisation key
  /multipart/start:
    put:
      summary: Start multipart upload
      operationId: put-multipart-start
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  entryId:
                    type: string
                    minLength: 1
                  uploadId:
                    type: string
                    minLength: 1
                required:
                  - entryId
                  - uploadId
                x-examples:
                  example-1:
                    entryId: 0_tsdqrl2p
                    uploadId: 9c16caf8-7f71-11ec-a8a3-0242ac120002
              examples:
                Example:
                  value:
                    entryId: 0_tsdqwl2p
                    uploadId: 9c16caf8-7f71-11ec-a8a3-0242ac120002
      description: |-
        <!--
        focus: false
        -->
        ![In Review](https://img.shields.io/badge/Status-In%20Review-green?style=flat-square)

        For larger uploads (Larger than 5GB) you should utilise the multipart API, this allows the upload to handle partial uploads.

        Like the upload process this has multiple steps, the first step you must initialise the multipart upload process by calling the start endpoint.
      tags:
        - Multipart
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  attributes:
                    - id: e078d72a-aad4-4b68-9227-e0bde0b35c6d
                      value: Some Title
                      items:
                        - alias: '1234'
                          value: Team A
                        - alias: '6789'
                          value: Team B
                    - id: 57e816fb-03b7-4706-a99f-5c6ef8d18ada
                      value: Some Description
                    - id: 57e816fb-03b7-4706-a99f-5c6ef8d18adb
                      value: Some custom field
                    - id: e078d72a-aad4-4b68-9227-e0bde0b35c6z
                      items:
                        - value: entitlement1
                        - value: entitlement2
                    - id: a61de76c-e367-4c63-93e0-2d6fd6e256cf
                      items:
                        - alias: '1234'
                          value: Team A
                        - alias: '6789'
                          value: Team B
                  publication:
                    publish: true
                    from: '06-03-2022T22:51:25Z'
                    to: '06-06-2022T22:51:25Z'
                    config:
                      - target: web
                        region:
                          - id: 067f103a-e1ca-461b-8ef8-a4f681a9f6d2
                            from: '06-03-2022T22:51:25Z'
                            to: '06-06-2022T22:51:25Z'
                          - id: 067f103a-e1ca-461b-8ef8-a4f681a9f6d3
                            from: '06-03-2022T22:51:25Z'
                            to: '06-06-2022T22:51:25Z'
                      - target: app
                        from: '06-03-2022T22:51:25Z'
                        to: '06-06-2022T22:51:25Z'
                        region:
                          - from: '06-03-2022T22:51:25Z'
                            to: '06-06-2022T22:51:25Z'
                            id: 067f103a-e1ca-461b-8ef8-a4f681a9f6d2
              properties:
                attributes:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  description: The metadata attributes
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 1
                        description: CloudMatrix attribute id
                      value:
                        type: string
                        minLength: 1
                        description: CloudMatrix attribute value
                      items:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        description: CloudMatrix attribute where value is a collection
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            alias:
                              type: string
                              minLength: 1
                              description: 'CloudMatrix attribute report value, this should be used as an alias for 3rd party attribute value '
                            value:
                              type: string
                              minLength: 1
                              description: CloudMatrix attribute value
                          required:
                            - value
                    required:
                      - id
                publication:
                  type: object
                  required:
                    - publish
                    - from
                  properties:
                    publish:
                      type: boolean
                      description: CloudMatrix attribute flag to indicate whether to publish the attribute or not
                      default: false
                    from:
                      type: string
                      minLength: 1
                      description: |-
                        From date is required only when publish is set to true.
                        Expected format is ISO 8601.
                    to:
                      type: string
                      minLength: 1
                      description: Expected format is ISO 8601.
                    config:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        type: object
                        properties:
                          target:
                            type: string
                            minLength: 1
                            description: CloudMatrix target uuid
                          from:
                            type: string
                            minLength: 1
                            description: Expected format is ISO 8601.
                          to:
                            type: string
                            minLength: 1
                            description: Expected format is ISO 8601.
                          region:
                            type: array
                            uniqueItems: true
                            minItems: 1
                            description: 'CloudMatrix attribute '
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  minLength: 1
                                  description: CloudMatrix region uuid
                                from:
                                  type: string
                                  minLength: 1
                                  description: Expected format is ISO 8601.
                                to:
                                  type: string
                                  minLength: 1
                                  description: Expected format is ISO 8601.
                              required:
                                - id
                        required:
                          - target
                          - region
              required:
                - attributes
                - publication
            examples:
              Example:
                value:
                  attributes:
                    - id: e078d72a-aad4-4b68-9227-e0bde0b35c6d
                      value: Some Title
                    - id: 57e816fb-03b7-4706-a99f-5c6ef8d18ada
                      value: Some Description
                    - id: 57e816fb-03b7-4706-a99f-5c6ef8d18adb
                      value: Some custom field
                    - id: e078d72a-aad4-4b68-9227-e0bde0b35c6z
                      items:
                        - value: entitlement1
                        - value: entitlement2
                    - id: a61de76c-e367-4c63-93e0-2d6fd6e256cf
                      items:
                        - alias: '1234'
                          value: Team A
                        - alias: '6789'
                          value: Team B
                  publication:
                    publish: true
                    from: '06-03-2022T22:51:25Z'
                    to: '06-06-2022T22:51:25Z'
                    config:
                      - target: web
                        region:
                          - id: 067f103a-e1ca-461b-8ef8-a4f681a9f6d2
                            from: '06-03-2022T22:51:25Z'
                            to: '06-06-2022T22:51:25Z'
                          - id: 067f103a-e1ca-461b-8ef8-a4f681a9f6d3
                            from: '06-03-2022T22:51:25Z'
                            to: '06-06-2022T22:51:25Z'
                      - target: app
                        from: '06-03-2022T22:51:25Z'
                        to: '06-06-2022T22:51:25Z'
                        region:
                          - from: '06-03-2022T22:51:25Z'
                            to: '06-06-2022T22:51:25Z'
                            id: 067f103a-e1ca-461b-8ef8-a4f681a9f6d2
        description: The body should contain the additional CloudMatrix Metadata you would like to store along side the entry.
  /multipart/upload:
    put:
      summary: Request a upload URL
      operationId: put-multipart-upload
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    partNumber: 1
                    uploadId: 9c16caf8-7f71-11ec-a8a3-0242ac120002
                    etag: 33a64df551425fcc55e4d42a148795d9f25f89d4
                properties:
                  partNumber:
                    type: number
                  uploadId:
                    type: string
                    minLength: 1
                  uploadUrl:
                    type: string
                    minLength: 1
                required:
                  - partNumber
                  - uploadId
                  - uploadUrl
              examples:
                Example:
                  value:
                    partNumber: 1
                    uploadId: 9c16caf8-7f71-11ec-a8a3-0242ac120002
                    uploadUrl: 'https://streamamg.s3.eu-west-2.amazonaws.com/example-1.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJJWZ7B6WCRGMKFGQ%2F20180210%2Feu-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180210T171315Z&X-Amz-Expires=1800&X-Amz-Signature=12b74b0788aa036bc7c3d03b3f20c61f1f91cc9ad8873e3314255dc479a25351&X-Amz-SignedHeaders=host'
          headers: {}
      description: |-
        <!--
        focus: false
        -->
        ![In Review](https://img.shields.io/badge/Status-In%20Review-green?style=flat-square)

        The multipart upload endpoint allows you to generate a signed URL for the binary chunk you want to upload.

        It is important that you store a the etag response for each upload as this is required for the final step of completing the multiple upload.
      tags:
        - Multipart
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  partNumber: 1
                  uploadId: 9c16caf8-7f71-11ec-a8a3-0242ac120002
              properties:
                filename:
                  type: string
                partNumber:
                  type: number
                uploadId:
                  type: string
                  minLength: 1
              required:
                - partNumber
                - uploadId
            examples:
              Example:
                value:
                  filename: example-2.mp4
                  partNumber: 1
                  uploadId: 9c16caf8-7f71-11ec-a8a3-0242ac120002
        description: The request body must contain the part number and the upload id of the partial upload chunk.
    parameters: []
  /multipart/complete:
    put:
      summary: Complete a multipart upload
      operationId: put-multipart-complete
      responses:
        '200':
          description: OK
      description: |-
        <!--
        focus: false
        -->
        ![In Review](https://img.shields.io/badge/Status-In%20Review-green?style=flat-square)

        The final part of the multipart upload is the completion step. This request should be called when all chunks of the data have been sent. 
      tags:
        - Multipart
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  uploadId: 9c16caf8-7f71-11ec-a8a3-0242ac120002
                  parts:
                    - partNumber: 1
                      etag: 33a64df551425fcc55e4d42a148795d9f25f89d4
                    - partNumber: 2
                      etag: 44a64df551425fcc55e4d42a148795d9f25f89d5
                    - partNumber: 2
                      etag: 55a64df551425fcc55e4d42a148795d9f25f89d6
              properties:
                filename:
                  type: string
                uploadId:
                  type: string
                  minLength: 1
                parts:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      partNumber:
                        type: number
                      etag:
                        type: string
                        minLength: 1
                    required:
                      - partNumber
                      - etag
              required:
                - uploadId
                - parts
            examples:
              Example:
                value:
                  filename: example-2.mp4
                  uploadId: 9c16caf8-7f71-11ec-a8a3-0242ac120002
                  parts:
                    - partNumber: 1
                      etag: 33a64df551425fcc55e4d42a148795d9f25f89d4
                    - partNumber: 2
                      etag: 44a64df551425fcc55e4d42a148795d9f25f89d5
                    - partNumber: 2
                      etag: 55a64df551425fcc55e4d42a148795d9f25f89d6
        description: The request body should contain a reference to each part along with the Etag of each upload.
    parameters: []
  '/api/v1/{apiUserId}/{apiKey}/{targetId}/{languageCode}/search':
    parameters:
      - schema:
          type: string
        name: apiUserId
        in: path
        required: true
        description: Guid identifying the requesting client
      - schema:
          type: string
        name: apiKey
        in: path
        required: true
        description: Second layer encrypted identifier for the requesting client
      - schema:
          type: string
        name: targetId
        in: path
        required: true
        description: Guid identifying the target where articles are allowed to be published
      - schema:
          type: string
        name: languageCode
        in: path
        required: true
        description: Two characters ISO language code
    get:
      summary: search
      tags: []
      responses:
        '200':
          description: |-
            Json response in following format
              
              "itemData": [
                {
                  "id": "{articleid}",
                  "mediaData": {
                    "mediaType": "OnDemand or live",
                    "entryId": "{entryid}",
                    "entryStatus": "Ready",
                    "thumbnailUrl": "{thumbnailurl}"
                  },
                  "sortData": [
                    
                  ],
                  "metaData": {
                    "DatetimeField": "YYYY-MM-DDTHH:mm:ss",
                    "body": "Test",
                    "DropdownField": "TV2",
                    "MultiSelectDropdownList": [
                      "value1",
                      "value2",
                      "value3"
                    ],
                    "AutocompleteTypeField": [
                      "value1",
                      "value2",
                      "value3"
                    ],
                    "IntegerTypeField": {numeric value},
                    "CountryTypeField": "{two letter ISO country code}",
                    "EntitlementTypeFields": [
                      "TestEntitlement",
                      "TestEntitlement"
                    ],
                    "OptaFixture": "{string type value}",
                    "OptaSeason": [
                      "season1",
                      "season2"
                    ],
                    "OptaPlayers": [
                      "Player1",
                      "Player2"
                    ],
                    "OptaTeam": "{team name}",
                    "Optaground": "{ground name}",
                    "VideoDuration": {positive integer value},
                    "title": "{string value}",
                    "optaepisode": {positive integer value},
                    "tags": [
                      "test1",
                      "test2"
                    ]
                  },
                  "publicationData": {
                    "createdAt": "YYYY-MM-DDTHH:mm:ss",
                    "updatedAt": "YYYY-MM-DDTHH:mm:ss",
                    "released": true,
                    "releaseFrom": "YYYY-MM-DDTHH:mm:ss",
                    "releaseTo": "YYYY-MM-DDTHH:mm:ss"
                  }
                }
              ],
              "pagingData": {
                "totalCount": {positive integer value},
                "itemCount": {positive integer value}},
                "pageCount": {positive integer value},
                "pageSize": {positive integer value},
                "pageIndex": {positive integer value}
              }
            }
      operationId: get-api-v1-apiUserId-apiKey-targetId-languageCode
      description: ''
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: Elastic search query string query. The field must be qualified with the section in the body like metadata.title
        - schema:
            type: number
          in: query
          name: pageIndex
          description: 'Page index. '
        - schema:
            type: number
          in: query
          name: pageSize
          description: 'Page Size '
        - schema:
            type: string
          in: query
          name: sortBy
          description: The field name qualified with the section in the body like metadata.title.
        - schema:
            type: string
          in: query
          name: sortOrder
          description: '"asc" or "desc"'
components:
  schemas: {}
